<% layout("layouts/boilerplate") %>

    <div class="row">
        <h1 class="text-center">Nuevo Personal</h1>
        <div class="col-6 offset-3">
            <form action="/personal" method="POST" novalidate class="validated-form" enctype="multipart/form-data">
                <div class="mb-3">
                    <label class="form-label" for="name">Nombre</label>
                    <input class="form-control" type="text" id="name" name="personal[name]" required>
                </div>
                <div class="mb-3">
                    <label for="workstation" class="form-label">Puesto de Trabajo</label>
                    <select class="form-select form-select-sm" aria-label="Default select example" id="workstation"
                        name="personal[workstation]" required>
                        <option value="Garrotero">Garrotero</option>
                        <option value="Mesero">Mesero</option>
                        <option value="Barista">Barista</option>
                    </select>
                </div>
                <div class="mb-3">
                    <label class="form-label" for="location">Locación</label>
                    <input class="form-control" type="text" id="location" name="personal[location]" required>
                </div>
                <div class="mb-3">
                    <div class="form-file">
                    <label for="image" class="form-label">Agregar imagen(es)...</label>
                    <input class="form-control" type="file" id="image" name="image" multiple>
                  </div>
                </div>
                <div class="mb-3">
                    <label class="form-label" for="birthdate">Fecha de Nacimiento</label>
                    <input class="form-control" type="date" id="birthdate" name="personal[birthdate]"
                        data-date-format="mm/dd/yyyy">
                </div>
                <div class="mb-3">
                    <label class="form-label" for="startdate">Fecha de Ingreso</label>
                    <input class="form-control" type="date" id="startdate" name="personal[startdate]"
                        data-date-format="mm/dd/yyyy" required>
                </div>

                <div class="mb-3">
                    <button class="btn btn-success">Agregar Personal</button>
                </div>
            </form>
        </div>